.posts {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 10px;
    border-radius: 10px;
    position: relative;
}

.post {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    border-radius: 10px;
}

.user-details {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 95%;
    justify-content: space-between;
}
.user-details a{
    display: flex;
    width: 50%;
}

.profile-pic {
    width: 33px;
    height: 100%;
    display: flex;
}

.profile-img {
    border-radius: 100px;
    border: 1px solid rgb(63, 60, 60);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

h3 {
    margin-left: 5px;
    align-self: center;
    color: black;
    font-weight: 100;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.settings{
    width: 50%;
    display: flex;
    justify-content: end;
}


.settings a{
    display: flex;
    width: 100%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.settings button {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    /* translucent background */
    color: #000000;
    font-size: 1rem;
    backdrop-filter: blur(5px);
    /* smooth glass effect */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.settings button:hover{
    outline: none;
    border-color: rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 102, 255, 0.8);
}
/* .settings button:focus{
    outline: none;
    border-color: rgba(255, 255, 255, 0.6);
    background-color: rgba(19, 14, 14, 0.2);
} */








.post-pic {
    margin-top: 10px;
    width: 95%;
    display: flex;
}

.posted-img {
    width: 100%;
    border: 1px solid rgb(112, 109, 109);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
}







.caption {
    display: flex;
    width: 95%;
    padding-bottom: 5px;
}

.caption p {
    /* padding-left: 5px; */
    color: black;
    /* align-self: center; */

}
.caption p b{
    color: #000000;
}



.like-comment-space {
    width: 95%;
    display: flex;
    height: 40px;
}


.like {
    width: 30%;
    height: 100%;
}

h4 {
    color: black;
}

.liked,
.notliked {
    background-color: white;
    border: 0;
    /* font-size: 20px; */
}

.liked i {
    /* color: red; */
    font-size: 20px;

}
.gradient-icon {
    background: linear-gradient(135deg, #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* border: 1px solid black; */
    padding-right: 1px;
}

.notliked i {
    color: rgb(179, 160, 160);
    font-size: 20px;

}


/* ajax like */
.like-btn{
    font-size: 20px;
}
.like-btn i {
    color: rgb(179, 160, 160);
    font-size: 20px;

}


.post-wrapper {
    width: 40%;
    height: 100%;
}

.open-btn i {
    font-size: 20px;
    border: 0;
    color: rgb(179, 160, 160);
}






/* Initially hidden */
.comments-box {
    padding: 10px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    /* height: 100vh; */
    /* background: rgba(255, 255, 255, 0.9); */
    background: linear-gradient(135deg, #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%) no-repeat;
    z-index: 999;
    flex-direction: column;

    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.6); */
}

/* Open when checkbox is checked */
.post-wrapper input:checked~.comments-box {
    display: flex;
}




.comments-head {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

/* Buttons */
.close-btn,
.submit-comment {
    /* width: 100%; */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    /* translucent background */
    color: #000000;
    font-size: 1rem;
    backdrop-filter: blur(5px);
    /* smooth glass effect */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;

}

.comments {
    gap: 10px;
}

.each-comment {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.comment-profile-pic {
    width: 33px;
    height: 33px;
    display: flex;
}

.comment-profile-img {
    border-radius: 100px;
    border: 1px solid rgb(63, 60, 60);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.comment-content{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.comment-content p{
    color :black;
}

.each-comment a{
    text-decoration: none;
}








textarea {
    padding: 10px;
    width: 60%;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.1);
    /* translucent background */
    color: #fff;
    font-size: 1rem;
    backdrop-filter: blur(5px);
    /* smooth glass effect */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.comments-box form {
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    bottom: 0;
}
















@media(min-width : 426px) {
    .posts {
        overflow: auto;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
    }

    .posts::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }

}