{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/register.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/profile.css' %}">
</head>

<body>
    <h2>Edit Your Profile @{{request.user}}</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'profile' %}">Back to Profile</a>
</body>

</html>