{% extends 'base.html'%}


{% block section %}
    <div class="container">
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>
        <h1>INSTAGRAM</h1>

    </div>
{% endblock %}
