/*Profile page*/

.container{
    gap: 10px;
    height: 100%;
}
.each-user {
    width: 100%;
    display: flex;
    min-height: 60px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border-radius: 100px 100px 100px 100px;
    /* justify-content: space-between; */
    background-color: aliceblue;
    /* background: linear-gradient(135deg, #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%) no-repeat; */
    animation: darkInstaGradient 30s ease infinite;
    background: rgb(255, 255, 255);

    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    text-decoration: none;

}

.each-user:hover{
    transition: transform 0.1s ease, background-color 0.1s ease;
    transform: scale(1.03);
}




.profile-pic {
    width: 50px;
    height: 50px;
    display: flex;
    margin-left: 5px;
}

.profile-img {
    width: 100%;
    border-radius: 100px;
    border: 1px solid rgb(63, 60, 60);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}


.user-details {
    width: 70%;
    height: 100%;
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    /* gap: 5px; */
}

h3 {
    color: #000000;
}



input,textarea{
    margin: 5px 0;
    padding: 10px;
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.1);
    /* translucent background */
    color: #776d6d;
    font-size: 1rem;
    backdrop-filter: blur(5px);
    /* smooth glass effect */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


@media(min-width : 426px) {

}