* {
    margin: 0;
    padding: 0;
    /* background-color: black; */
    /* background: linear-gradient(135deg, #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%); */
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: 'Flood Std';
    src: url('fonts/FloodStdRegular.otf') format('truetype');
}

body {
    min-height: 100vh;
    /* width: 100vw; */
    background: linear-gradient(135deg, #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%) no-repeat;
    /* background-size: 400% 400%; */
    animation: darkInstaGradient 30s ease infinite;
    color: #fff;
    /* optional for light text */

    display: flex;
    flex-direction: column;
}

@keyframes darkInstaGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.container{
    background-color: rgba(255, 255, 255, 0.1);
    /* transparent white */
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* width: 310px; */
    /* width: 100%; */
    align-items: center;
    backdrop-filter: blur(10px);
    /* adds glass effect */
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
h1 {
    font: normal normal normal 2.5rem/2.88rem Flood Std;
}
#nav-bar{
    background-color: rgba(255, 255, 255, 0.1);
    /* transparent white */
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    /* width: 310px; */
    width: 100%;
    align-items: center;
    backdrop-filter: blur(10px);
    /* adds glass effect */
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-around;
    bottom: 0;
    /* margin-bottom: 10px; */
}

a{
    display: flex;
    width: 20%;
    text-decoration: none;
}
button {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    /* align-self: center; */
    background-color: rgba(255, 255, 255, 0.1);
    /* translucent background */
    color: #000000;
    font-size: 1rem;
    backdrop-filter: blur(5px);
    /* smooth glass effect */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
}
button:hover{
    outline: none;
    border-color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}
button:focus{
    outline: none;
    border-color: rgba(255, 255, 255, 0.6);
    background-color: rgba(19, 14, 14, 0.2);
}





/* 
@media(min-width : 600px) {
    #left-box {
        width: 50%;
        display: none;
        justify-content: center;
        align-items: center;
    }

    #right-box {
        width: 100%;
    }
} */