* {
    margin: 0;
    padding: 0;
    /* background-color: black; */
    /* background: linear-gradient(135deg, #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%); */
    color: rgb(255, 255, 255);
}


.blur-body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: 100;
    display: none;
    top: 0;
    position: absolute;

    /* display: flex; */
    justify-content: center;
    align-items: center;

    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: #000000;
    font-weight: 100;
    font-size: 50px;
}



@font-face {
    font-family: 'Flood Std';
    src: url('fonts/FloodStdRegular.otf') format('truetype');
}

body {
    height: 100vh;
    /* width: 100vw; */
    background: linear-gradient(135deg, #feda75 0%, #fa7e1e 25%, #d62976 50%, #962fbf 75%, #4f5bd5 100%) no-repeat;
    /* background-color: #000000; */
    /* background-size: 400% 400%; */
    animation: darkInstaGradient 30s ease infinite;
    color: #fff;
    /* optional for light text */

    display: flex;
    flex-direction: column;
    align-items: center;

}

@keyframes darkInstaGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

section {
    width: 100%;
    height: 100vh;
    /* max-height: 94vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);

    /* transparent white */
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    /* adds glass effect */
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 92%;
    max-height: 96vh;
}

h1 {
    font: normal normal normal 2.5rem/2.88rem Flood Std;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}



#nav-bar {

    padding: 0 10px;
    width: 92%;



    background-color: rgba(255, 255, 255, 0.1);
    /* transparent white */
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    /* width: 96.5%; */
    /* align-self: center; */
    align-items: center;
    backdrop-filter: blur(10px);
    /* adds glass effect */
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-around;
    bottom: 0;
    /* height: 100vh; */
    /* box-sizing: border-box; */
}

nav a {
    display: flex;
    width: 18%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

nav button {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    /* translucent background */
    color: #000000;
    font-size: 1rem;
    backdrop-filter: blur(5px);
    /* smooth glass effect */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav button:hover {
    outline: none;
    border-color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

nav button:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.6);
    background-color: rgba(19, 14, 14, 0.2);
}


@media(min-width : 426px) {
    .container {
        /* overflow: auto; */
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
    }

    .container::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }

    body {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: flex-end;

    }

    /* .header {
        display: none;
    } */

    section {
        width: 89%;
        min-height: 99vh;
    }

    .container {
        width: 80%;
    }

    #nav-bar {
        padding: 0;
        box-sizing: border-box;
        height: 100vh;
        width: 10%;
        position: relative;
        display: flex;
        flex-direction: column;
        /* min-height: 99vh; */
        /* height: 100%; */
        justify-content: start;
    }

    #nav-bar a {
        display: flex;
        width: 90%;
        text-decoration: none;
        align-items: center;
        justify-content: center;
    }
}






@media(min-width : 769px) {
    section {
        width: 83%;
    }

    .container {
        width: 45%;
        max-width: 500px;
    }

    #nav-bar {
        width: 15%;
    }
}