{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous"> -->
    {% block head %}
    <title>Login</title>
    {% endblock %}
</head>

<body>
    <section>
        <header class="header">
            <!-- <i class="fa-brands fa-instagram"></i> -->
            <h1>Instagram</h1>
        </header>
        {% block section %}
        {% endblock %}
    </section>
    <nav id="nav-bar">
        <a href="{% url 'show_posts' %}"><button class="nav-buttons">Home</button></a>
        <a href=""><button class="nav-buttons">Reels</button></a>
        <a href="{% url 'create_post' %}"><button class="nav-buttons">Add</button></a>
        <a href="{% url 'show_all_users' %}"><button class="nav-buttons">Users</button></a>
        <a href="{% url 'profile' %}"><button class="nav-buttons">Profile</button></a>
    </nav>
</body>

</html>