{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous"> -->
    {% block head %}
    <title>Login</title>
    {% endblock %}
</head>

<body>
    <div class="blur-body">
        Loading.....
    </div>
    <section>
        <header class="header">
            <!-- <i class="fa-brands fa-instagram"></i> -->
            <h1>Instagram</h1>
        </header>
        {% block section %}
        {% endblock %}
    </section>
    <nav id="nav-bar" class="hi">
        <a href="{% url 'show_posts' %}"><button class="nav-buttons">Home</button></a>
        <a href="{% url 'show_reels' %}"><button class="nav-buttons">Reels</button></a>
        <a href="{% url 'create_post' %}"><button class="nav-buttons">Add</button></a>
        <a href="{% url 'show_all_users' %}"><button class="nav-buttons">Users</button></a>
        <a href="{% url 'profile' %}"><button class="nav-buttons">Profile</button></a>
    </nav>
    <!-- <script>

        // let navbar = document.getElementById('nav-bar');
        let navbar = document.querySelector('body')
        let commentinput  = document.getElementById('id_content')
        navbar.addEventListener('click', (event) => {
            console.log(event.target.className)
            console.log(commentinput.value)
            if (['nav-buttons','liked','notliked','fa-regular fa-heart','fa-solid fa-heart gradient-icon'].includes(event.target.className) || (event.target.className==='submit-comment' && commentinput.value!='' )) {
                let blur = document.querySelector('.blur-body');
                if (blur) {
                    blur.style.display = 'flex';
                }
            }
        });

        // Fix blur sticking on browser back
        window.onpageshow = function (event) {
            if (event.persisted) {
                let blur = document.querySelector('.blur-body');
                if (blur) {
                    blur.style.display = 'none';
                }
            }
        };
    </script> -->
</body>

</html>